<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    {% if title %}
    <title>{{ title }} - motmaytinh</title>
    {% else %}
    <title>motmaytinh</title>
    {% endif %}
  </head>
  <body>
      <!-- <a href="/index"> Home </a><a href="/upload"> Upload </a> -->
    <div>
      <nav>
        <a id = "logo" href="#">motmaytinh</a>
        <a href="/index">HOME</a>
        <a href="/upload">ASCII</a>
      </nav></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>